@import "../../../Styles/variables.css";

.ContactButton{
    height: 60px;
    width: 98px;
    position: fixed;
    top: 250px;
    line-height: 90px;
    text-align: end;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
    background-color: var(--color-secondary);
    box-shadow: inset 0 5px 10px #BB1111;
}
.ContactButton img{
    margin-right: 15px;
}

@media screen and (max-width:425px){
    .ContactButton{
        width: 40px;
        top: 310px;
        z-index: 4;
    }
    .ContactButton:hover{
        width: 98px;
    }
}