@import "../Styles/variables.css";

.MyFoodHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #221F1F;
}

.MyFoodHome__Container{
    background-color: var(--color-dark);
    max-width: 955px;
    width: 100%;
    height: 1400px;
}