@import "../../Styles/variables.css";

.FoodCards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 227px;
    max-height: 365px;
    height: 30.41em;
    width: 100%;
    box-sizing: border-box;
    border-radius: .5em;
    padding-top: 1px;
    background-color: var(--red-light-gray);
    box-shadow: 0 4px 10px rgba(60, 27, 32, 20%);
}
.FoodCards__Description{
    margin: 10px;
    max-height: 55%;
    font-family: var(--Title-1);
    font-weight: normal;
    color: var(--color-dark);
    overflow-y: scroll;
}
::-webkit-scrollbar{
    display: none;
}
.Tags{
    display: flex;
    justify-content:center;
}
.FoodCards__Description h3{
    text-align: center;
    font-size: 2em;
    margin: 10px 0px;
}
.Description{
    text-align: center;
    max-height: 55%;
    font-family: var(--Lorem-ipsum);
    font-size: 1.3em;
}
.FoodCards__Product{
    height: 40%;
    background-color: var(--red-light-gray);
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    overflow: hidden;
}
.FoodCards__Product img{
    object-fit: cover;
    width: 100%;
}

@media screen and (max-width: 480px){
    .FoodCards{
        height: 275px;
        width: 172px;
        margin-bottom: 20px;
    }
    .FoodCards__Description h3{
        font-size: 1.5em;
    }
}