/*Variables*/
@import "../../Styles/variables.css";
/*Icons*/
@import "../../icons/style.css";

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: content-box;
    max-width: 955px;
    width: 100%;
    max-height: 60px;
    height: 60px;
    padding: 0em 1em;
    background-color: var(--color-dark);
    color: var(--red-light-gray);
}
.Header__Logo{
    font-size: 3em;
    font-family: var(--Details);
    text-shadow: black 1px 4px 5px ;
}

.Header__Logo span{
    font-size: 1em;
    color: var(--color-primary);
}
.Header__Items{
    display: flex;
}
.Header__Items a{
    font-family: var(--Title-1);
    font-size: 1.5em;
    margin: 0px 1em;
    color: var(--red-light-gray);
}
.Header__Items li:hover{
    height: 100%;
    background-color: var(--color-primary);
}
.Header__Icons i{
    font-size: 1.7em;
    margin: 0px .5em;
}